In [21]:
import pandas as pd
import numpy as np

df_train = pd.read_csv(r'C:\Users\higaj\Desktop\py\loanapproval\train.csv')
df_test = pd.read_csv(r'C:\Users\higaj\Desktop\py\loanapproval\test.csv')
df_train

,id,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length,loan_status
0,0,37,35000,RENT,0.0,EDUCATION,B,6000,11.49,0.17,N,14,0
1,1,22,56000,OWN,6.0,MEDICAL,C,4000,13.35,0.07,N,2,0
2,2,29,28800,OWN,8.0,PERSONAL,A,6000,8.90,0.21,N,10,0
3,3,30,70000,RENT,14.0,VENTURE,B,12000,11.11,0.17,N,5,0
4,4,22,60000,RENT,2.0,MEDICAL,A,6000,6.92,0.10,N,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
58640,58640,34,120000,MORTGAGE,5.0,EDUCATION,D,25000,15.95,0.21,Y,10,0
58641,58641,28,28800,RENT,0.0,MEDICAL,C,10000,12.73,0.35,N,8,1
58642,58642,23,44000,RENT,7.0,EDUCATION,D,6800,16.00,0.15,N,2,1
58643,58643,22,30000,RENT,2.0,EDUCATION,A,5000,8.90,0.17,N,3,0
58644,58644,31,75000,MORTGAGE,2.0,VENTURE,B,15000,11.11,0.20,N,5,0

In [22]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58645 entries, 0 to 58644
Data columns (total 13 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          58645 non-null  int64
 1   person_age                  58645 non-null  int64
 2   person_income               58645 non-null  int64
 3   person_home_ownership       58645 non-null  object
 4   person_emp_length           58645 non-null  float64
 5   loan_intent                 58645 non-null  object
 6   loan_grade                  58645 non-null  object
 7   loan_amnt                   58645 non-null  int64
 8   loan_int_rate               58645 non-null  float64
 9   loan_percent_income         58645 non-null  float64
 10  cb_person_default_on_file   58645 non-null  object
 11  cb_person_cred_hist_length  58645 non-null  int64
 12  loan_status                 58645 non-null  int64
dtypes: float64(3), int64(6), object(4)
memory usage: 5.8+ MB

In [23]:
# Person Home Ownership
df_train.loc[df_train['person_home_ownership'] == 'OTHER', 'person_home_ownership'] = 1
df_train.loc[df_train['person_home_ownership'] == 'RENT', 'person_home_ownership'] = 2
df_train.loc[df_train['person_home_ownership'] == 'MORTGAGE', 'person_home_ownership'] = 3
df_train.loc[df_train['person_home_ownership'] == 'OWN', 'person_home_ownership'] = 4
df_train['person_home_ownership'] = df_train['person_home_ownership'].astype(int)

df_test.loc[df_test['person_home_ownership'] == 'OTHER', 'person_home_ownership'] = 1
df_test.loc[df_test['person_home_ownership'] == 'RENT', 'person_home_ownership'] = 2
df_test.loc[df_test['person_home_ownership'] == 'MORTGAGE', 'person_home_ownership'] = 3
df_test.loc[df_test['person_home_ownership'] == 'OWN', 'person_home_ownership'] = 4
df_test['person_home_ownership'] = df_test['person_home_ownership'].astype(int)


# Loan Intent
df_train.loc[df_train['loan_intent'] == 'EDUCATION', 'loan_intent'] = 1
df_train.loc[df_train['loan_intent'] == 'MEDICAL', 'loan_intent'] = 2
df_train.loc[df_train['loan_intent'] == 'PERSONAL', 'loan_intent'] = 3
df_train.loc[df_train['loan_intent'] == 'VENTURE', 'loan_intent'] = 4
df_train.loc[df_train['loan_intent'] == 'DEBTCONSOLIDATION', 'loan_intent'] = 5
df_train.loc[df_train['loan_intent'] == 'HOMEIMPROVEMENT', 'loan_intent'] = 6
df_train['loan_intent'] = df_train['loan_intent'].astype(int)

df_test.loc[df_test['loan_intent'] == 'EDUCATION', 'loan_intent'] = 1
df_test.loc[df_test['loan_intent'] == 'MEDICAL', 'loan_intent'] = 2
df_test.loc[df_test['loan_intent'] == 'PERSONAL', 'loan_intent'] = 3
df_test.loc[df_test['loan_intent'] == 'VENTURE', 'loan_intent'] = 4
df_test.loc[df_test['loan_intent'] == 'DEBTCONSOLIDATION', 'loan_intent'] = 5
df_test.loc[df_test['loan_intent'] == 'HOMEIMPROVEMENT', 'loan_intent'] = 6
df_test['loan_intent'] = df_test['loan_intent'].astype(int)

# Loan Grade
df_train.loc[df_train['loan_grade'] == 'A', 'loan_grade'] = 7
df_train.loc[df_train['loan_grade'] == 'B', 'loan_grade'] = 6
df_train.loc[df_train['loan_grade'] == 'C', 'loan_grade'] = 5
df_train.loc[df_train['loan_grade'] == 'D', 'loan_grade'] = 4
df_train.loc[df_train['loan_grade'] == 'E', 'loan_grade'] = 3
df_train.loc[df_train['loan_grade'] == 'F', 'loan_grade'] = 2
df_train.loc[df_train['loan_grade'] == 'G', 'loan_grade'] = 1
df_train['loan_grade'] = df_train['loan_grade'].astype(int)

df_test.loc[df_test['loan_grade'] == 'A', 'loan_grade'] = 7
df_test.loc[df_test['loan_grade'] == 'B', 'loan_grade'] = 6
df_test.loc[df_test['loan_grade'] == 'C', 'loan_grade'] = 5
df_test.loc[df_test['loan_grade'] == 'D', 'loan_grade'] = 4
df_test.loc[df_test['loan_grade'] == 'E', 'loan_grade'] = 3
df_test.loc[df_test['loan_grade'] == 'F', 'loan_grade'] = 2
df_test.loc[df_test['loan_grade'] == 'G', 'loan_grade'] = 1
df_test['loan_grade'] = df_test['loan_grade'].astype(int)


# Default on File
df_train.loc[df_train['cb_person_default_on_file'] == 'N', 'cb_person_default_on_file'] = False
df_train.loc[df_train['cb_person_default_on_file'] == 'Y', 'cb_person_default_on_file'] = True
df_train['cb_person_default_on_file'] = df_train['cb_person_default_on_file'].astype(bool)

df_test.loc[df_test['cb_person_default_on_file'] == 'N', 'cb_person_default_on_file'] = False
df_test.loc[df_test['cb_person_default_on_file'] == 'Y', 'cb_person_default_on_file'] = True
df_test['cb_person_default_on_file'] = df_test['cb_person_default_on_file'].astype(bool)

df_train.drop(columns='id', inplace = True)
df_test.drop(columns='id', inplace = True)

df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58645 entries, 0 to 58644
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   person_age                  58645 non-null  int64
 1   person_income               58645 non-null  int64
 2   person_home_ownership       58645 non-null  int32
 3   person_emp_length           58645 non-null  float64
 4   loan_intent                 58645 non-null  int32
 5   loan_grade                  58645 non-null  int32
 6   loan_amnt                   58645 non-null  int64
 7   loan_int_rate               58645 non-null  float64
 8   loan_percent_income         58645 non-null  float64
 9   cb_person_default_on_file   58645 non-null  bool
 10  cb_person_cred_hist_length  58645 non-null  int64
 11  loan_status                 58645 non-null  int64
dtypes: bool(1), float64(3), int32(3), int64(5)
memory usage: 4.3 MB

In [26]:
from sklearn.model_selection import train_test_split
import lightgbm as lgb


X = df_train
X = X.drop(columns='loan_status')
y = df_train.loan_status

X_train, X_valid, y_train, y_valid = train_test_split(X, y, train_size=0.8, test_size=0.2, random_state=0)

model =lgb.LGBMClassifier()

model.fit(X_train, y_train)
X = df_test
y_pred = model.predict(X)

submission = pd.DataFrame()
temp = pd.read_csv(r'C:\Users\higaj\Desktop\py\loanapproval\test.csv')
submission['id'] = temp['id']
submission['price'] = y_pred
submission.to_csv(r'C:\Users\higaj\Desktop\outpupts\baseline.csv', index=False)

[LightGBM] [Info] Number of positive: 6674, number of negative: 40242
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.001146 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 840
[LightGBM] [Info] Number of data points in the train set: 46916, number of used features: 11
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.142254 -> initscore=-1.796692
[LightGBM] [Info] Start training from score -1.796692